body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0e101c;
  color: #eee;
  font-size: 20px;
}

header {
  padding: 10px;
  padding-left: 50px;
  background-color: #ec5990;
}

header select {
  font-size: 16px;
  padding: 5px 15px;
  border-radius: 5px;
}

.app {
  max-width: 600px;
  margin: 0 auto;
}

form {
  max-width: 500px;
  margin: 50px auto;
}

label {
  display: block;
  margin-top: 20px;
  margin-bottom: 10px;
}

input {
  display: block;
  box-sizing: border-box;
  padding: 10px 15px;
  width: 100%;
  border-radius: 5px;
  font-size: 20px;
  letter-spacing: 1.25px;
}

input[type='button'], input[type='submit'], button[type='submit'] {
  display: block;
  width: 100%;
  background: #ec5990;
  color: #eee;
  border: none;
  margin-top: 70px;
  padding: 20px;
  font-size: 20px;
  letter-spacing: 2px;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}

input[type='button']:hover,
input[type='submit']:hover,
button[type='submit']:hover {
  background: #bf1650;
}

